@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", sans-serif;
  color: #473e3e;
  background: linear-gradient(to top, #659999, #f4791f);
  height: 100vh;
}

.parent {
  width: 600px;
  height: 400px;
  margin: 100px auto 0;
  position: relative;
  border: 1px solid transparent;
  border-radius: 9px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* glass */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
}

.div1 {
  grid-area: 1 / 1 / 2 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f1f1f144;
  font-size: 2.5em;
  font-weight: 800;
}
.div2 {
  grid-area: 2 / 1 / 5 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div3 {
  grid-area: 2 / 4 / 3 / 7;
}
.div4 {
  grid-area: 3 / 4 / 4 / 7;
  font-size: 3.5em;
  font-weight: 700;
}
.div5 {
  grid-area: 4 / 4 / 5 / 7;
}
.div6 {
  grid-area: 5 / 1 / 6 / 3;
}
.div7 {
  grid-area: 5 / 3 / 6 / 5;
  border-inline: 1px solid #f1f1f144;
}
.div8 {
  grid-area: 5 / 5 / 6 / 7;
}

.div6,
.div7,
.div8 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #f1f1f144;
  font-size: 21px;
}

img {
  width: 50%;
}
.last_update{
    
    font-size: 15px;
    color: white;
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 600px) {
  body{
    margin: 4px;
  }
  .parent{
    width:fit-content;
  }
  .div5{
    font-size: 15px;
  }
  .div6,.div7,.div8{
    font-size: 17px;
  }
}